https://github.com/pandas-dev

![nn](1.png)

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [ ]:
df

In [ ]:
df["Age"]

In [ ]:
ages = pd.Series([22, 35, 58], name="Age")
ages

In [ ]:
df["Age"].max()

In [ ]:
ages.max()

In [ ]:
df.describe()

![nn](2.png)

In [ ]:
titanic = pd.read_csv("data/titanic.csv")
titanic

In [ ]:
titanic.head(8)

In [ ]:
titanic.tail(10)

In [ ]:
titanic.dtypes

In [ ]:
titanic.to_excel("data/titanic.xlsx", sheet_name="passengers", index=False)

In [ ]:
titanic = pd.read_excel("data/titanic.xlsx", sheet_name="passengers")
titanic

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
titanic["Age"].shape

In [ ]:
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

In [ ]:
titanic[["Age", "Sex"]].shape

In [ ]:
above_35 = titanic[titanic["Age"] > 35]
above_35

In [ ]:
titanic["Age"] > 35

In [ ]:
above_35.shape

In [ ]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
class_23

In [ ]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
class_23

In [ ]:
age_no_na = titanic[titanic["Age"].notna()]
age_no_na

In [ ]:
age_no_na.shape

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]
adult_names

In [ ]:
titanic.iloc[9:25, 2:5]

In [ ]:
titanic.iloc[0:3, 3] = "anonymous"
titanic.head()

![nn](3.png)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
air_quality = pd.read_csv("data/air_quality_no2.csv", index_col=0, parse_dates=True)
air_quality

In [ ]:
air_quality.plot()

In [ ]:
air_quality["station_paris"].plot()

In [ ]:
air_quality.plot.scatter(x="station_london", y="station_paris", alpha=0.5)

In [ ]:
[
    method_name
    for method_name in dir(air_quality.plot)
    if not method_name.startswith("_")
]

In [ ]:
air_quality.plot.area()

In [ ]:
air_quality.plot.bar()

In [ ]:
air_quality.plot.barh()

In [ ]:
air_quality.plot.box()

In [ ]:
air_quality.plot.density()

In [ ]:
air_quality.plot.hist()

In [ ]:
air_quality.plot.kde()

In [ ]:
air_quality.plot.line()

In [ ]:
axs = air_quality.plot.area(figsize=(12, 4), subplots=True)

In [ ]:
fig, axs = plt.subplots(figsize=(12, 4))
air_quality.plot.area(ax=axs)
axs.set_ylabel("NO$_2$ concentration")

In [ ]:
fig.savefig("no2_concentrations.png")

In [ ]:
air_quality = pd.read_csv("data/air_quality_no2.csv", index_col=0, parse_dates=True)
air_quality.head()

In [ ]:
air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882
air_quality

In [ ]:
air_quality["ratio_paris_antwerp"] = (air_quality["station_paris"] / air_quality["station_antwerp"])
air_quality

In [ ]:
air_quality_renamed = air_quality.rename(
    columns={
    "station_antwerp": "BETR801",
    "station_paris": "FR04014",
    "station_london": "London Westminster",})
air_quality_renamed

In [ ]:
air_quality_renamed = air_quality_renamed.rename(columns=str.lower)
air_quality_renamed.head()

![nn](4.png)

In [ ]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

- 평균

In [ ]:
titanic["Age"].mean()

- 중앙값 : 중앙값(中央-, 영어: median) 또는 중위수(中位數)는 어떤 주어진 값들을 크기의 순서대로 정렬했을 때 가장 중앙에 위치하는 값을 의미한다. 예를 들어 1, 2, 100의 세 값이 있을 때, 2가 가장 중앙에 있기 때문에 2가 중앙값이다. 값이 짝수개일 때에는 중앙값이 유일하지 않고 두 개가 될 수도 있다. 이 경우 그 두 값의 평균을 취한다. 예를 들어 1, 10, 90, 200 네 수의 중앙값은 10과 90의 평균인 50이 된다.

In [ ]:
titanic[["Age", "Fare"]].median()

In [ ]:
titanic[["Age", "Fare"]].describe()

- skew() : 표본 비대칭도

In [ ]:
titanic.agg({
    "Age": ["min", "max", "median", "skew"], 
    "Fare": ["min", "max", "median", "mean"],})

In [ ]:
titanic[["Sex", "Age"]].groupby("Sex").mean()

In [ ]:
titanic.groupby("Sex").mean()

In [ ]:
titanic.groupby("Sex")["Age"].mean()

In [ ]:
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()

In [ ]:
titanic["Pclass"].value_counts()

In [ ]:
titanic.groupby("Pclass")["Pclass"].count()

# How to reshape the layout of tables?

In [ ]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

In [ ]:
air_quality = pd.read_csv("data/air_quality_long.csv", index_col="date.utc", parse_dates=True)
air_quality.head()

In [ ]:
titanic.sort_values(by="Age").head()

In [ ]:
titanic.sort_values(by=['Pclass', 'Age'], ascending=False).head()

In [ ]:
no2 = air_quality[air_quality["parameter"] == "no2"]
no2

In [ ]:
no2_subset = no2.sort_index().groupby(["location"]).head(2)
no2_subset

In [ ]:
no2_subset.pivot(columns="location", values="value")

In [ ]:
no2.head()

In [ ]:
air_quality.pivot_table(values="value", index="location", columns="parameter", aggfunc="mean")

In [ ]:
air_quality.pivot_table(
....: values="value",
....: index="location",
....: columns="parameter",
....: aggfunc="mean",
....: margins=True,
....: )

In [ ]:
air_quality.groupby(["parameter", "location"]).mean()

In [ ]:
no2

In [ ]:
no2_pivoted = no2.pivot(columns="location", values="value").reset_index()
no2_pivoted

In [ ]:
no_2 = no2_pivoted.melt(id_vars="date.utc")
no_2

In [ ]:
no_2 = no2_pivoted.melt(
    id_vars="date.utc",
    value_vars=["BETR801", "FR04014", "London Westminster"],
    value_name="NO_2",
    var_name="id_location",
)


no_2.head()

![nn](6.png)

In [ ]:
air_quality_no2 = pd.read_csv("data/air_quality_no2_long.csv",
                              parse_dates=True)


air_quality_no2

In [ ]:
air_quality_no2 = air_quality_no2[["date.utc", "location",
                                   "parameter", "value"]]


air_quality_no2.head()

In [ ]:
air_quality_pm25 = pd.read_csv("data/air_quality_pm25_long.csv",
                               parse_dates=True)

air_quality_pm25

In [ ]:
air_quality_pm25 = air_quality_pm25[["date.utc", "location",
                                     "parameter", "value"]]


air_quality_pm25.head()

In [ ]:
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

air_quality.head()

In [ ]:
print('Shape of the ``air_quality_pm25`` table: ', air_quality_pm25.shape)

In [ ]:
print('Shape of the ``air_quality_no2`` table: ', air_quality_no2.shape)

In [ ]:
print('Shape of the resulting ``air_quality`` table: ', air_quality.shape)

In [ ]:
air_quality = air_quality.sort_values("date.utc")

air_quality.head()

In [ ]:
air_quality_ = pd.concat([air_quality_pm25, air_quality_no2], keys=["PM25", "NO2"])
air_quality

In [ ]:
air_quality.info()

In [ ]:
stations_coord = pd.read_csv("data/air_quality_stations.csv")

stations_coord.head()

In [ ]:
air_quality.head()

In [ ]:
air_quality = pd.merge(air_quality, stations_coord, how="left", on="location")

air_quality.head()

In [ ]:
air_quality_parameters = pd.read_csv("data/air_quality_parameters.csv")

air_quality_parameters.head()

In [ ]:
air_quality = pd.merge(air_quality, air_quality_parameters,
                       how='left', left_on='parameter', right_on='id')


air_quality.head()

# datetime properties

In [ ]:
import pandas as pd

import matplotlib.pyplot as plt

In [ ]:
air_quality = pd.read_csv("data/air_quality_no2_long.csv")

air_quality.head()

In [ ]:
air_quality = air_quality.rename(columns={"date.utc": "datetime"})

air_quality.head()

In [ ]:
air_quality.city.unique()

In [ ]:
air_quality["datetime"] = pd.to_datetime(air_quality["datetime"])

air_quality["datetime"]

In [ ]:
air_quality["datetime"].min(), air_quality["datetime"].max()

In [ ]:
air_quality["datetime"].max() - air_quality["datetime"].min()

In [ ]:
air_quality["month"] = air_quality["datetime"].dt.month

air_quality.head()

In [ ]:
air_quality.groupby(
    [air_quality["datetime"].dt.weekday, "location"])["value"].mean()

In [ ]:
fig, axs = plt.subplots(figsize=(12, 4))

air_quality.groupby(air_quality["datetime"].dt.hour)["value"].mean().plot(
    kind='bar', rot=0, ax=axs
)
plt.xlabel("Hour of the day");  # custom x label using matplotlib

plt.ylabel("$NO_2 (µg/m^3)$");

In [ ]:
no_2 = air_quality.pivot(index="datetime", columns="location", values="value")

no_2.head()

In [ ]:
no_2.index.year, no_2.index.weekday

In [ ]:
no_2["2019-05-20":"2019-05-21"].plot();

In [ ]:
monthly_max = no_2.resample("D").max()

monthly_max

In [ ]:
monthly_max.index.freq

In [ ]:
no_2.resample("D").mean().plot(style="-o", figsize=(10, 5));

# 데이터 조작하기

In [ ]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

In [ ]:
titanic["Name"].str.lower()

In [ ]:
titanic["Name"].str.split(",")

In [ ]:
titanic["Surname"] = titanic["Name"].str.split(",").str.get(0)
titanic.head()

In [ ]:
titanic["Name"].str.contains("Countess")

In [ ]:
titanic[titanic["Name"].str.contains("Countess")]

In [ ]:
titanic["Name"].str.len()

In [ ]:
titanic["Name"].str.len().idxmax()

In [ ]:
titanic.loc[titanic["Name"].str.len().idxmax(), "Name"]

In [ ]:
titanic["Sex_short"] = titanic["Sex"].replace({"male": "M", "female": "F"})
titanic["Sex_short"]

In [ ]:
titanic["Sex_short"] = titanic["Sex"].str.replace("female", "F")
titanic["Sex_short"] = titanic["Sex"].str.replace("male", "M")

In [ ]:
titanic["Sex_short"]

In [ ]:
titanic.head()